<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/tweetLogo.png" class="ui small image">
                <section class="ui  segment">
                    <div class="ui segment">
                        <div id="chartContainer" style="height: 220px; width: 100%;"></div>
                    </div>
                </section>
        </aside>
        <article class="ten wide column">
            <table class="ui fixed inverted blue celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Name</th>
                    <th>Following</th>
                </tr>
                </thead>
                <tbody>
                {{#each tweet}}
                    <tr>
                        <td>
                            <img src='/getUserPic/{{tweeter.id}}' class='ui avatar image'
                                 onerror="this.src = 'images/noUserPic.jpg';" /> {{message}}
                            <p class="date"><script>document.write(new Date({{date}}).toGMTString());</script></p>
                        </td>
                        <td>
                            <form action="/follow/{{tweeter.id}}" class="ui form" method="post">
                                <button  class="ui blue active button">
                                    <i class="icon add user"></i> Follow
                                </button>
                                {{name}}
                            </form>
                        </td>
                        <td>
                            {{#each tweeter.following}}
                               <img src='/getUserPic/{{this}}' class='ui avatar image'
                                    onerror="this.src = 'images/noUserPic.jpg';" onhover="data-content = '/getUserDetails/{{followid}}'" />
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>
<script src="js/checkbox.js"></script>
<script src="js/chart.js"></script>
<script src="js/canvasjs.min.js"></script>