<nav class="ui inverted blue menu">
    <header class="header item"><a href="/"> MyTweet </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/home"> MyTweet</a>
        <a id="report" class= "item" href="/report">All Tweets List</a>
        <a id="mytweetlist" class="item" href="/mytweetlist">My Tweet List</a>
        <a id="finduser" class="item" href="/finduser">Find User Tweets</a>
        <a id="following" class="item" href="/follow">Following</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>