{{> mainmenu _id="settings" }}



<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui ten wide column">
            <div class="ui stacked fluid form segment">
                <form action="/settings" method="POST">
                    <h3 class="ui header">Register</h3>
                    <div class="two fields">
                        <div class="field">
                            <label>First Name</label>
                            <input value="{{user.firstName}}" type="text" name="firstName">
                        </div>
                        <div class="field">
                            <label>Last Name</label>
                            <input value="{{user.lastName}}" type="text" name="lastName">
                        </div>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input value="{{user.email}}" type="text" name="email">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input placeholder="********" type="password" name="password">
                    </div>
                    <button class="ui blue submit button">Save</button>
                </form>
                {{> formerror }}
            </div>
        </div>

        {{> userCard}}